* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4891ff;
  --error-color: #e50914;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: whitesmoke;
  overflow-x: hidden;
}

.content-container-sm {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.image-file-preview {
  max-width: 100%;
  height: auto;
  border: 1px #ccc solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.form-container fieldset {
  border: none;
}

.form-container input[type="file"] {
  display: none;
}

.file-input {
  display: block;
  padding: 13px 20px;
  background: #ddd;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

.file-input:hover {
  opacity: 0.8;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.5s;
}

.btn-blue {
  background: var(--primary-color);
  color: white;
}

.btn:disabled {
  opacity: 0.6;
}

.btn:enabled:hover {
  opacity: 0.8;
}

.text-xxl {
  font-size: 3rem;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2rem;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-center {
  text-align: center;
}

.loader {
  width: 24px;
  height: 24px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-right: 10px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  color: var(--error-color);
  padding: 5px;
}
