* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: whitesmoke;
  overflow-x: hidden;
}

fieldset {
  border: none;
}

input[type="file"] {
  display: none;
}

.content-container-sm {
  margin-top: 100px;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.logo-placeholder {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px #ddd solid;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.logo-input {
  display: inline-block;
  padding: 13px 20px;
  background: #ddd;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

.logo-input:hover {
  opacity: 0.8;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

.btn-blue {
  background: #4891ff;
  color: white;
}

.btn:disabled {
  opacity: 0.6;
}

.btn:enabled:hover {
  opacity: 0.8;
}

.text-xxl {
  font-size: 3rem;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-center {
  text-align: center;
}
